.article {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1000px) {
        display: grid;
        grid-template-areas: "article";
        padding: 2rem;
        
    }

    &__image {
        text-align: right;
        margin: 20px;
        @media (max-width: 1000px) {
            text-align: center;
        }
        @media (max-width: 500px) {
            text-align: center;
            scale: 0.75;
            margin: 0px;
        }
        img {
            margin: 0px;
            border-radius: 16px;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        }
    }

    &__content {
        color: #003817;
        margin: 2rem;
        text-align: justify;
        max-width: 800px;
        @media (max-width: 1000px) {
            margin-top: 1rem;
        }
        @media (max-width: 500px) {
            max-width: 300px;
            margin: 0 auto;
        }

    }

    &__title {
        margin-top: .5rem;
        font-size: 1.3rem;
        @media (max-width: 1000px) {
            text-align: center;
            margin-bottom: 1rem;
        }
    }

    &__text {
        margin-top: 1rem;
        font-size: 1rem;
    }

    }