.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categorias {
    align-items: center;
}

.categorias_filtro select {
    display: center;
    width: 200%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    appearance: none; /* Elimina estilos nativos del sistema */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    }

.categorias_boton {
    text-decoration: none;
    border: none;
    border-radius: 5% 15%;
    padding: 10px;
    display: inline-block;
    background-color: #010302;
    color: white;
}

.producto {
    display: inline-block;
    width: 290px;
    height: 420px;
    border: 2px solid #ccc;
    border-radius: 4%;
    padding: 5px;
    margin: 5px;
}

.producto_talla {
    scale: .7;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 10%;
    padding: 8px;
    margin: 2px;
}

.producto_imagen {
    width: 70%;
    margin: 0;
    padding: 0;
}

.producto_talla--active {
    scale: .7;
    text-decoration: none;
    border: 2px solid #009c87;
    border-radius: 10%;
    padding: 8px;
    margin: 2px;
    display: inline-block;
    background-color: #009c87;
    color: white;
}

.producto_talla:hover {
    cursor: pointer;
    background-color: #009c87;
    color: white;
}

.producto_precio {
    font-size: 1.8rem;
    margin: 10px;
    color: #004f44;
    font-weight: bold;
}

.producto_boton {
    text-decoration: none;
    border: none;
    border-radius: 5% 15%;
    padding: 10px;
    display: inline-block;
    background-color: #010302;
    color: white;
}

.producto_boton:hover {
    border: none;
    cursor: pointer;
    background-color: #009c87;
    color: white;
}