* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  background-color: #e4f3ed;
}

h1 {
  font-size: 2rem;
  color: #003817;
}

.my-container {
    width: 80%;
    background-color: #c7e4e0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(234, 243, 234);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
}
.nav__logo {
  width: 200px;
  margin-left: 0.7rem;
}
.nav__menu {
  display: flex;
  gap: 1.5rem;
  margin-right: 2rem;
}
.nav__menu a {
  text-decoration: none;
  color: #003817;
}
.nav__menu--active {
  font-weight: bold;
  color: #009c87 !important;
}
.nav__icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
.nav__checkbox {
  display: none;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #212121;
  color: #e4f3ed;
  gap: 2rem;
}
footer img {
  width: 30px;
}
